<h1><%= @list.name %></h1>
<% if @list.thumbnail.attached? %>
  <%= cl_image_tag @list.thumbnail.key, height: 100, width: 100, crop: :fill %>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
<% @bookmarks = @list.bookmarks %>

<div>
  <% @bookmarks.each do | bookmark | %>
  <%= bookmark.movie.title %>
  <%= bookmark.comment %>
  <% end %>
</div>

<%= link_to "Back to Home", root_path %>
<%= link_to "Add a Movie", new_list_bookmark_path(@list) %>
<%= link_to "Delete",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
