<h1><%= @list.name %></h1>
<% if @list.thumbnail.attached? %>
  <%= cl_image_tag @list.thumbnail.key, height: 100, width: 100, crop: :fill %>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
<% @bookmarks = @list.bookmarks %>

<h2>Movie Titles</h2>
<div>
  <% @bookmarks.each do | bookmark | %>
  <div>Title: <%= bookmark.movie.title %></div>
  <div>Bookmark: <%= bookmark.comment %></div>
  <% end %>
</div>

<div class="m-3"><%= link_to "Back to Home", root_path, class: "btn btn-primary" %></div>
<div class="m-3"><%= link_to "Add a Movie", new_list_bookmark_path(@list), class: "btn btn-primary" %></div>
<div class="m-3"><%= link_to "Delete",
  list_path(@list), class: "btn btn-primary",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></div>
